---
---
$colour_brand: #4faded; // $colour_blue
$colour_links: #f3f1eb; // $colour_off_white
$colour_background: #ffffff;
$colour_yellow: #FFD836;
$colour_green: #62B356;
$colour_red: #E04B4B;
$colour_violet: #A94CA6;
$colour_orange: #F4A140;
$colour_green: #62B356;

@import "global";
@import "bootstrap-compat";
@import "header";
@import "mysoc-jkan";