---
layout: default
---

<h1 class="homepage-title">{{ site.description }}</h1>

<div class="homepage-categories">
  
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail category-card" title="{{ logo_alt }}">
      <div class="category-card__content">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}" class="category-card__image" height="128" width="128">
      {% endif %}
      <h2 class="category-card__title">{{ category.name }}</h2>
      </div>
    </a>
  {% endif %}
{% endfor %}
</div>
