    <div class="mysoc-footer" role="contentinfo">
      <div class="page">
        <div class="row">

            <div class="col-sm-5">
              <h2 class="mysoc-footer__site-name"><a href="https://mysociety.org?utm_source=data.mysociety.org&amp;utm_content=footer+logo&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a></h2>
              <div class="mysoc-footer__site-description">
                  <p>
                    mySociety is a not-for-profit social enterprise, based in
                    the UK but working with partners internationally. We build
                    and share digital technologies that give people the power
                    to get things changed, across the three areas of
                    Democracy, Freedom of Information, and Better Cities.
                  </p>
              </div>
			<nav data-component="navigation" class="footer__login-links">
			<ul>
                <li><a href="#" data-hook="login-link">Login</a></li>
                <li class="admin-only" data-hook="admin-link-list-item"><a href="{{ site.baseurl }}/admin/">Administration</a></li>
                <li class="admin-only"><a href="#" data-hook="logout-link">Logout</a></li>
			</ul>
			</nav>
            </div>

            <div class="col-sm-4">
              <nav class="mysoc-footer__links">
                <ul>
                  <li id="menu-item-20940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20940"><a href="https://www.mysociety.org/about/">About</a></li>
                  <li id="menu-item-21111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21111"><a href="https://www.mysociety.org/about/careers/">Careers</a></li>
                  <li id="menu-item-20944" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20944"><a href="https://www.mysociety.org/contact/">Contact</a></li>
                </ul>
                <ul>
                  <li id="menu-item-20979" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20979"><a href="https://www.mysociety.org/press/">Press</a></li>
                  <li id="menu-item-28489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28489"><a href="https://www.mysociety.org/privacy/">Privacy&nbsp;policy</a></li>
                  <li id="menu-item-21144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21144"><a href="https://www.mysociety.org/subscribe/">Subscribe</a></li>
                  <li id="menu-item-38518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38518"><a href="https://www.mysociety.org/united-nations-sustainable-development-goals/">Sustainable Development</a></li>
                </ul>
              </nav>
            </div>

            <div class="col-sm-3">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://mysociety.org/donate?utm_source=data.mysociety.org&amp;utm_content=footer+donate+now&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>
        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="col-sm-9">
                <div class="mysoc-footer__legal">
                    <p><a href="https://www.mysociety.org/?utm_source=data.mysociety.org&utm_content=footer+full+legal+details&utm_medium=link&utm_campaign=mysoc_footer">mySociety</a> is a registered charity in England and Wales (1076346) and a limited company (03277032). We provide commercial services through our wholly owned subsidiary <a href="https://www.societyworks.org/?utm_source=data.mysociety.org&utm_content=footer+full+legal+details&utm_medium=link&utm_campaign=mysoc_footer">SocietyWorks Ltd</a> (05798215).</p>
                </div>
            </div>

            <div class="col-sm-3">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://github.com/mysociety/" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation">
                      <a href="https://twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter" onclick="if (ga) { ga('send','event','Outbound Link','Twitter Exit','Footer link',1) };">@mysociety</a>
                    </li>
                    <li role="presentation"><a href="https://www.facebook.com/mySociety/" class="mysoc-footer__badge mysoc-footer__badge--facebook" onclick="if (ga) { ga('send','event','Outbound Link','Facebook Exit','Footer link',1) };">mySociety</a></li>
                </ul>
            </div>

        </div>
    </div>
  </div>
    
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/scripts/dist/bundle.js"></script>
